<div class="col-md-12 text-center">
  <h1> Welcome to Video Uploader Challenge! </h1>
  <% if current_user.admin? %>
    <%= link_to "Users", users_path, class: "btn btn-default" %>
    <%= link_to "Videos", videos_path, class: "btn btn-default" %>
  <% else %>
    <%= link_to "Home", videos_path, class: "btn btn-default" %>
  <% end %>
</div>