<div class="page-header">
  <h1><%= video.title %></h1>
</div>

<div class="cd-md-12 text-center">
  <video id="video-tag" class="video-js vjs-default-skin" controls style="width: auto; height: 400px">
    <source
     src="<%= video.video_url %>"
     type="application/x-mpegURL">
  </video>
</div>
