<div class="collapse navbar-collapse">
  <% if current_user.admin? %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Users", users_path %></li>
    </ul>
  <% end %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to "Account Config", edit_user_path(current_user.id) %>
    </li>
    <li>
      <%= link_to "Logout", [:destroy, :user, :session], method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
</div>
